/* *{
    background-image: url("../Assets/Pictures/photo-1538370965046-79c0d6907d47.jpeg");
    background-repeat: no-repeat;
} */
/* div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19) !important
  } */